html, body {
  font-family: system-ui, Segoe UI, Helvetica Neue, Arial;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--color-dark-gray);
}

:root {
  --max-width-s : 640px;
  --max-width-m : 1024px;
  --max-width-l : 1440px;

  --baseline : 30px;

  --color-dark-gray: #212121;
}
