@import '../../css/functions.scss';
@import '../../css/base.scss';

.container {
  background-color: white;
  padding: min(6.4vw, ($base-grid * 2.5));
  border-top-right-radius: s(5);
  border-top-left-radius: s(5);
  position: relative;
}

.wrapper {
  padding: 0 min(1.4vw, s(5));
  margin: auto;
  max-width: $max-width;
}

.gray {
  background-color: $gray-lightest;
  &::after {
    content: '';
    background-color: $gray-lightest;
    bottom: -80px;
    left: 0;
    height: ($base-grid * 2.5);
    position: absolute;
    width: 100%;
  }
}