@import '../../../css/functions.scss';

.column-grid {
  display: grid;
  > div {
    margin: min(2.2vw ,s(8)) min(2.2vw ,s(8)) 0 min(2.2vw ,s(8));
  }
}

.grid---1 {
  grid-template-columns: auto;
}

.grid---2 {
  grid-template-columns: auto auto;
}

.grid---3 {
  grid-template-columns: auto auto auto;
}

@media only screen and (max-width: $md) {
  .grid---3 {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: $sm) {
  .grid---3 {
    grid-template-columns: auto;
  }
}